// Theme Colors (because MDC Elevation uses them)
// @use 'smui-theme';

@use '@material/theme/index' as theme;

@use '@material/shape';

// tip: DO NOT WORK
// @use '@material/shape/index' as shape with (
$small-component-radius: 0;
$medium-component-radius: 10px;
$large-component-radius: 0;
// );

@use '@material/elevation/mdc-elevation';
// TO USE THIS:  mdc-elevation--z{n}

// Elevation and theme mixins.
@use '@material/elevation/index' as elevation;

.my-primary {
	// Set the font color.
	// @include theme.property(color, primary);
	@include shape.radius($medium-component-radius);

	// @include shape.radius(10);

	&.elevated {
		// And the elevation color.
		@include elevation.elevation(4, primary);
	}
}

.my-secondary {
	// @include theme.property(color, secondary);
	@include shape.radius($medium-component-radius);

	&.elevated {
		@include elevation.elevation(4, secondary);
	}
}
