.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
pnpm-lock.yaml
.histoire

/node_modules/
/public/build/
build-storybook.log
/storybook-static/

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
