@import 'tailwindcss/base';
@import './ax-base.scss';
/* smui + storybook hack */
@import '../static/smui.css';

@import 'tailwindcss/components';
/* @import './ax-components.css'; */

@import 'tailwindcss/utilities';
/* @import './ax-utilities.css'; */
